@import 'variables-mixins';
@import './grid';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

.bg {
  background: url('/assets/images/image.jpg') center center;
  width: 100px;
  height: 100px;
  background-size: cover;
}