<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div class="grid-structure">
    <header class="header">
      <div>
        <img class="logo-brafe" alt="">
      </div>
      <nav>
        <ul>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Produtos</a></li>
          <li><a href="#">Portifólio</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </header>

    <main class="main">

    </main>

    <section class="produtos">
      <div>
        <img id="cafe1" alt="">
      </div>
      <div>
        <img id="cafe2" alt="">
      </div>
    </section>

  </div>
</body>

</html>